{% extends 'recipe_match/header.html' %}
<title>Browse Cookbook</title>

{% block content %}



<nav>

<!-- Random Button --> 

{% if recipe_list %}
    <details>
    <summary>List of Recipes</summary>

    <ul>
    {% for recipe in recipe_list %}
	<li><a href="{% url 'recipe' recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
    </ul>
    </details>
{% else %}
    <p>No recipes are available.</p>
{% endif %}
</nav>

<article style="float:left;">

{% if recipe_id == 0 %}
	Waiting for recipe_id
{% else %}
	<h3>{{ recipe.name }}</h3>
	<hr>

	<ul>
	{% for ing in ingredient_list %}
		<li>{{ ing }}</li>
	{% endfor %}
	</ul>	

	<hr>

	<ol>
	{% for step in instructions %}
		<li>{{ step }}</li>
	{% endfor %}
	</ol>

	<hr>

	<p>How many servings?</p>
	<ul style="float:left;">
		<li><a href="{% url 'servings' recipe.id 1 %}">1</a></li>
		<li><a href="{% url 'servings' recipe.id 2 %}">2</a></li>
		<li><a href="{% url 'servings' recipe.id 4 %}">4</a></li>
		<li><a href="{% url 'servings' recipe.id 6 %}">6</a></li>
		<li><a href="{% url 'servings' recipe.id 8 %}">8</a></li>
		<li><a href="{% url 'servings' recipe.id 12 %}">12</a></li>
	</ul>
{% endif %}


<!--
<link rel="import" href="sample_recipe.html">
-->

<!--
<embed type="text/html" src="sample_recipe.html" height="800" width="500"
style="border:2 px solid gray">
-->

<!--
<object data="sample_recipe.html" height="800" width="500" style="border:2px solid gray" type="text/html">
Recipe Card
</object>
-->

<!--
<iframe src="recipe.html" height="800" width="500" style="border:2px solid gray" title="Sample Recipe">
</iframe>
-->

</article>


{% endblock %}

