{% extends 'recipe_match/header.html' %}
<title>Browse Cookbook</title>

{% block content %}



<nav>

<!-- Random Button --> 

{% if recipe_list %}
    <details open>
    <summary>List of Recipes</summary>

    <ul>
    {% for recipe in recipe_list %}
	<li><a href="{% url 'browse' recipe.id recipe.servings %}">{{ recipe.name }}</a></li>
    {% endfor %}
    </ul>
    </details>
{% else %}
    <p>No recipes are available.</p>
{% endif %}
</nav>

<article style="float:left; border:2px solid gray; padding: 10px">

{% if recipe_id == 0 %}
	<p>Select a recipe.</p>
{% else %}
	{% include 'recipe_match/recipe.html' %}
{% endif %}



</article>


{% endblock %}

