{% extends 'recipe_match/header.html' %}
<title>Browse Cookbook</title>

{% block content %}



<nav style="width:20%;">

<!-- Random Button --> 
<ul>
{% if rand_breakfast_recipe %}
	<li><a href="{% url 'browse' rand_breakfast_recipe.id rand_breakfast_recipe.servings %}">Random Breakfast</a></li>
{% endif %}
{% if rand_snack_recipe %}
	<li><a href="{% url 'browse' rand_snack_recipe.id rand_snack_recipe.servings %}">Random Snack</a></li>
{% endif %}
	<li><a href="{% url 'browse' rand_dinner_recipe.id rand_dinner_recipe.servings %}">Random Dinner</a></li>
{% if rand_dessert_recipe %}
	<li><a href="{% url 'browse' rand_dessert_recipe.id rand_dessert_recipe.servings %}">Random Dessert</a></li>
{% endif %}
	<li><a href="{% url 'browse' rand_beverage_recipe.id rand_beverage_recipe.servings %}">Random Beverage</a></li>
</ul>

<br>
<h3>Browse</h3>

{% if breakfast %}
	<details>
	<summary>Breakfast</summary>
	<ul>
	{% for recipe in breakfast %}
		<li><a href="{% url 'browse' recipe.id recipe.servings %}">{{ recipe.name }}</a></li>
	{% endfor %}
	</ul>
	</details>
{% endif %}


{% if snack %}
	<details>
	<summary>Snack</summary>
	<ul>
	{% for recipe in snack %}
		<li><a href="{% url 'browse' recipe.id recipe.servings %}">{{ recipe.name }}</a></li>
	{% endfor %}
	</ul>
	</details>
{% endif %}


{% if dinner %}
	<details>
	<summary>Dinner</summary>
	<ul>
	{% for recipe in dinner %}
		<li><a href="{% url 'browse' recipe.id recipe.servings %}">{{ recipe.name }}</a></li>
	{% endfor %}
	</ul>
	</details>
{% endif %}


{% if dessert %}
	<details>
	<summary>Dessert</summary>
	<ul>
	{% for recipe in dessert %}
		<li><a href="{% url 'browse' recipe.id recipe.servings %}">{{ recipe.name }}</a></li>
	{% endfor %}
	</ul>
	</details>
{% endif %}


{% if beverage %}
	<details>
	<summary>Beverage</summary>
	<ul>
	{% for recipe in beverage %}
		<li><a href="{% url 'browse' recipe.id recipe.servings %}">{{ recipe.name }}</a></li>
	{% endfor %}
	</ul>
	</details>
{% endif %}


</nav>



<article style="float:left; border:2px solid gray; padding:10px; width:60%;">

{% if recipe_id == 0 %}
	<p>Select a recipe.</p>
{% else %}
	{% include 'recipe_match/recipe.html' %}
{% endif %}

</article>




{% endblock %}

