{% extends 'recipe_match/header.html' %}

<title>Unit Conversion</title>

{% block content %}

<nav style = "width:30%;">
</nav>

<article style="float:left; width;70%;">

<p>Values when converting from volumetric to mass measurements are estimates.</p>



<form action="{% url 'conversion' food amount units_in units_out %}" method="post">
{% csrf_token %}

<select id="food" name="food">
	<option value="None">---</option>
{% for each in all_foods %}
	<option value="each">{{each}}</option>
{% endfor %}
</select>

<input type="text" id="amount" name="amount">

<select id="units_in" name="units_in">
	<option value="None">---</option>
{% for each in all_units %}
	<option value="each">{{each}}</option>
{% endfor %}
</select>

<br><br><br>

<label for="units_out">Convert to:</label>
<select id="units_out" name="units_out">
	<option value="None">---</option>
{% for each in all_units %}
	<option value="each">{{each}}</option>
{% endfor %}
</select>

<br><br>
<input type="submit" value="Go">

</form>

<br>
<!-- <a href="{% url 'conversion' food amount units_in units_out %}">Go</a> -->

<br><br><br>

<p>Result: {{new_amount}}</p>



<article>

{% endblock %}