<!DOCTYPE html>
<html lang="en-us">
<head>
<title>Recipe Match</title>
<meta charset="UTF-8">
<meta name="keywords" content="recipes, cookbook, meal planning">
<meta name="description" content="Online Cookbook and Meal Planner">
<meta name="author" content="Monica Mashock">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recipe_match/style.css' %}">
<style></style>
</head>

<body>
<header>
<ul>
	<li><a href="{% url 'browse' %}" style="color:red;">Browse Cookbook</a></li>
	<li><a href="{% url 'match' %}" style="color:orange;">Ingredient Matcher</a></li>
	<li><a href="{% url 'menu' %}" style="color:green;">My Menu</a></li>
	<li><a href="{% url 'shopping_list' %}" style="color:blue;">Shopping List</a></li>
	<li><a style="color:purple;">Login</a><li>
</ul>
<br><br><br><br><br><hr>
</header>



{% block content %}
{% endblock %}


{% include 'recipe_match/footer.html' %}

</body>
</html>