{% extends 'recipe_match/header.html' %}

{% block content %}

<p>This is the index page.</p>

Welcome. 

- Many recipes don't call for salt under the assumption that you will add salt to taste.
- All herbs are dried unless otherwise specified.
- All spices are ground unless otherwise specified.
- Beans are cooked or canned unless otherwise specified.
- Pasta and noodles are dry unless otherwise specified.
- Nutrition facts are *estimates* based on data obtained from the USDA.
- Although each recipe's serving sizes can be adjusted, some recipe instructions do call for a specific size of pan or baking dish. If you change the amount of servings, adjust the pan or baking dish as needed.

<nav>
</nav>

<article style="float:left;">
</article>

{% endblock %}
