<!DOCTYPE html>
<html lang="en-us">
<head>
<title>Kitchen Inventory</title>
<meta charset="UTF-8">
<meta name="keywords" content="recipes, cookbook, meal planning">
<meta name="description" content="Online Cookbook and Meal Planner">
<meta name="author" content="Monica Mashock">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="stylesheet.css">
<style></style>
</head>

<body>
<header>
<ul>
	<li><a href="#Browse" style="color:red;">Browse Cookbook</a></li>
	<li><a href="#Match" style="color:orange;">Ingredient Matcher</a></li>
	<li><a href="#Random" style="color:green;">Random Recipe</a></li>
	<li><a href="#Menu" style="color:blue;">My Menu</a></li>
</ul>
<br><br><br><br><br><hr>
</header>

<p>This page lets you take inventory of your kitchen.</p>

<nav>
</nav>

<article style="float:left;">
</article>

<footer></footer>

</body>
</html>
