{% extends 'recipe_match/header.html' %}

<title>My Menu</title>

{% block content %}

<nav style="width:30%;">

<details open>
<summary>My Menu
<ul>
{% for each in selections %}
	<li style="padding:2px;">
		<a href="{% url 'delete_recipe' each.id %}"><span style="background:lightgray;">X</span> &nbsp</a>
		<a href="{% url 'browse' each.recipe.id each.desired_servings %}">{{ each.recipe.name }}, {{ each.desired_servings }} servings</a>
	</li>
{% endfor %}
</ul>
</details>

<h3><a href="{% url 'shopping_list' %}">View my shopping list</a></h3>

</nav>



<article style="float:left; width:70%;">

<p>Coming soon: title your menu and add notes</p>

<p>Coming soon: calendar view.</p>

</article>

{% endblock %}