{% extends 'recipe_match/header.html' %}

<title>My Menu</title>

{% block content %}

<nav style="width:20%;">

<details open>
<summary>My Menu
<ul>
{% for each in selections %}
	<li><a href="{% url 'browse' each.recipe.id each.desired_servings %}">{{ each.recipe.name }}, {{ each.desired_servings }} servings</a></li>
{% endfor %}
</ul>
</details>

<h3><a href="{% url 'shopping_list' %}">View my shopping list</a></h3>

</nav>



<article style="float:left; width:80%;">

<p>Coming soon: title your menu and add notes</p>

<p>Coming soon: calendar view.</p>

</article>

{% endblock %}