<!DOCTYPE html>
<html>
<head>
<title>{{ recipe.name }}</title>
<meta charset="UTF-8">
<meta name="keywords" content="recipes, cookbook, meal planning">
<meta name="description" content="Online Cookbook and Meal Planner">
<meta name="author" content="Monica Mashock">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h3>{{ recipe.name }}</h3>
<hr>

<ul style="list-style-type: circle; font-size: 14px;">
{% for ing in ingredient_list %}
	<li>{{ ing }}</li>
{% endfor %}
</ul>	

<hr>

<ol>
{% for step in instructions %}
	<li>{{ step }}</li>
{% endfor %}
</ol>

<hr>


<div style="font-size:14px;">How many servings? Currently serves {{ desired_servings }}.</div>
	<ul style="list-style-type:none; font-size:14px;">
		<li style="float:left; padding:15px;"><a href="{% url 'browse' recipe.id 1 %}">1</a></li>
		<li style="float:left; padding:15px;"><a href="{% url 'browse' recipe.id 2 %}">2</a></li>
		<li style="float:left; padding:15px;"><a href="{% url 'browse' recipe.id 4 %}">4</a></li>
		<li style="float:left; padding:15px;"><a href="{% url 'browse' recipe.id 6 %}">6</a></li>
		<li style="float:left; padding:15px;"><a href="{% url 'browse' recipe.id 8 %}">8</a></li>
		<li style="float:left; padding:15px;"><a href="{% url 'browse' recipe.id 12 %}">12</a></li>
	</ul>
<br><br><br><hr>

<h4 style="padding:5px"><a>Add to my menu</a></h4>
<br><br>

{% if recipe.source %}
<p style="font-size:12px;">{{ recipe.source }}</p>
{% endif %}

</body>
</html>
