<!DOCTYPE html>
<html>
<head>
<title>Sample Recipe</title>
<style>
ul {
	list-style-type: disc;
}
ul li {
	font-size: 14px;
}
</style>
</head>
<body style="background-color:beige;">

<p>This page shows a specific recipe.</p>
<br>

<h3>Moo Shu Pork Tacos</h3>
<hr>

<ul>
	<li>1 lb ground pork</li>
	<li>1/2 c green onion</li>
	<li>1/2 head red cabbage</li>
	<li>8 oz mushrooms</li>
	<li>3 radishes</li>
	<li>1 tbsp ginger</li>
	<li>1 tbsp garlic powder</li>
	<li>1/3 c hoisin sauce</li>
	<li>1 tbsp vinegar</li>
	<li>1 tbsp soy sauce</li>
	<li>1 tbsp sesame oil</li>
	<li>tortillas or other flatbread</li>
	<li>sriracha</li>
	<li>1/4 c mayonnaise</li>
</ul>
<hr>

<ol>
	<li>Fry mushrooms and half the green onion in sesame oil.</li>
	<li>Mix the hoisin sauce, vinegar, and soy sauce.</li>
	<li>Mix the mayo with enough sriracha to make a peach color, or to taste.</li>
	<li>Add pork, ginger, and garlic to the hot pan.</li> 
	<li>Once the pork is cooked, add the hoisin mixture and the cabbage. Cook until cabbage reaches desired tenderness.</li>
	<li>Serve on warmed tortillas or flatbread, topped with raw green onion, radish slices, and sriracha mayo.</li>
</ol>
</body>
</html>
