<!DOCTYPE html>
<html>
<head>
<title>{{ recipe.name }}</title>
<meta charset="UTF-8">
<meta name="keywords" content="recipes, cookbook, meal planning">
<meta name="description" content="Online Cookbook and Meal Planner">
<meta name="author" content="Monica Mashock">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recipe_match/style.css' %}">
<style>
body { 
	background-color: beige; 
}
ul {
	list-style-type: circle;
}
ul li {
	font-size: 14px;
}
</style>
</head>
<body>

<h3>{{ recipe.name }}</h3>
<hr>

<ul>
{% for ing in ingredient_list %}
	<li>{{ ing }}</li>
{% endfor %}
</ul>	

<hr>

<ol>
{% for step in instructions %}
	<li>{{ step }}</li>
{% endfor %}
</ol>

<hr>

<p>How many servings?</p>
<ul style="float:left;">
	<li><a href="{% url 'servings' recipe.id 1 %}">1</a></li>
	<li><a href="{% url 'servings' recipe.id 2 %}">2</a></li>
	<li><a href="{% url 'servings' recipe.id 4 %}">4</a></li>
	<li><a href="{% url 'servings' recipe.id 6 %}">6</a></li>
	<li><a href="{% url 'servings' recipe.id 8 %}">8</a></li>
	<li><a href="{% url 'servings' recipe.id 12 %}">12</a></li>
</ul>

</body>
</html>
