{% extends 'recipe_match/header.html' %}

<title>Shopping List</title>

{% block content %}

<nav style="width:30%">

<details open>
<summary>My Menu
<ul>
{% for each in selections %}
	<li style="padding:2px;">
		<a href="{% url 'delete_recipe' each.id %}"><span style="background:lightgray;">X</span> &nbsp</a>
		<a href="{% url 'browse' each.recipe.id each.desired_servings %}">{{ each.recipe.name }}, {{ each.desired_servings }} servings</a>
	</li>
{% endfor %}
</ul>
</details>

</nav>

<article style="float:left; width:70%;">

<h3>Ingredients Needed</h3>

<ul>
{% for each in shopping_list %}
	<li>{{ each }}</li>
{% endfor %}
</ul>

</article>

{% endblock %}